<!-- <nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/metar">Metar</a></li>
    <li><a routerLink="/taf">Taf</a></li>
    <li><a routerLink="/full">Full Report</a></li>
  </ul>
</nav> -->

<mat-toolbar>  
  <mat-toolbar-row>
    <span class="Headline">ForeFlight</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/metar">Metar</a></li>
    <li><a routerLink="/taf">Taf</a></li>
    <li><a routerLink="/full">Full Report</a></li>
  </mat-toolbar-row>
</mat-toolbar>