<!-- Search Field and Button -->
<div>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search" />
  <button (click)="onSearch()">Search</button>
</div>

<ng-container>
  <h3> Earlier lookups </h3>
  <mat-form-field>
    <mat-label>Select Timestamp</mat-label>
    <mat-select (selectionChange)="onTimestampSelected($event)">
      <mat-option *ngFor="let timestamp of timestamps" [value]="timestamp">
        {{ formatTimestamp(timestamp) }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
<table mat-table [dataSource]="dataSource | keyvalue" class="mat-elevation-z8 table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let row"> {{row.key}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> Value </th>
    <td mat-cell *matCellDef="let row">
      <ng-container *ngIf="isObject(row.value)">
        <pre>{{ prettyPrint(row.value) }}</pre>
      </ng-container>
      <ng-container *ngIf="!isObject(row.value)">
        {{ row.value }}
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>